<ion-view title="通知" hide-nav-bar="true" id="page15" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h1 id="page15-heading23" style="color:#000000;text-align:center;" class=" ">通知</h1>
        <ion-list id="page15-list15" class=" ">
            <ion-item id="page15-list-item34" class="  ">Item 1</ion-item>
            <ion-item id="page15-list-item35" class="  ">Item 2</ion-item>
            <ion-item id="page15-list-item36" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>