<ion-view title="登入" hide-nav-bar="true" id="page7" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="">
            <img src="img/iyjX5YeBRbufbWEQVikS_skylight logo final.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="page7-form2" class="list ">
            <ion-list id="page7-list1" class=" ">
                <label class="item item-input " id="page7-input1" name="login_email">
                    <span class="input-label">登入電郵</span>
                    <input type="text" placeholder="請輸入電郵">
                </label>
                <label class="item item-input " id="page7-input2" name="password">
                    <span class="input-label">密碼</span>
                    <input type="password" placeholder="請輸入電郵">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 28px;"></div>
            <a ui-sref="tabsController.page2" id="page7-button2" style="color:#FFFFFF;border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block icon ion-log-in ">登入</a>
            <a ui-sref="SkyLighter" id="page7-button3" style="border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block button-outline icon ion-compose ">註冊</a>
        </form>
    </ion-content>
</ion-view>