<ion-view title="個人設定" hide-nav-bar="true" id="page6" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h1 id="page6-heading25" style="color:#000000;text-align:center;" class=" ">個人設定</h1>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="page6-button7" style="border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block button-outline icon ion-android-attach ">更改個人照片</button>
        <form id="page6-form4" class="list ">
            <label class="item item-input " id="page6-input5" name="nickname">
                <span class="input-label">名稱</span>
                <input type="text" placeholder="match 完比人睇個名">
            </label>
            <label class="item item-input " id="page6-input15" name="nickname">
                <span class="input-label">暱稱</span>
                <input type="text" placeholder="係forum show 個名">
            </label>
            <label class="item item-input " id="page6-input9" name="age">
                <span class="input-label">年齡</span>
                <input type="number" placeholder="幾多歲">
            </label>
            <label class="item item-input " id="page6-input19" name="phone_number">
                <span class="input-label">電話</span>
                <input type="tel" placeholder="幾號電話">
            </label>
            <label class="item item-input " id="page6-input16" name="height">
                <span class="input-label">身高 (cm)</span>
                <input type="number" placeholder="幾多cm">
            </label>
            <label class="item item-input " id="page6-input17" name="weight">
                <span class="input-label">體重 (kg)</span>
                <input type="number" placeholder="幾多kg">
            </label>
            <label class="item item-input " id="page6-input18" name="status">
                <span class="input-label">戀愛狀態</span>
                <input type="text" placeholder="報status">
            </label>
            <label class="item item-select " id="page6-select9" name="horoscope">
                <span class="input-label">星座</span>
                <select>
                    <option>白羊座</option>
                    <option>金牛座</option>
                    <option>雙子座</option>
                    <option>巨蟹座</option>
                    <option>獅子座</option>
                    <option>處女座</option>
                    <option>天秤座</option>
                    <option>天蠍座</option>
                    <option>射手座</option>
                    <option>魔羯座</option>
                    <option>水瓶座</option>
                    <option>雙魚座</option>
                </select>
            </label>
            <label class="item item-select " id="page6-select6" name="university">
                <span class="input-label">學校</span>
                <select>
                    <option>白羊座</option>
                    <option>金牛座</option>
                    <option>雙子座</option>
                    <option>巨蟹座</option>
                    <option>獅子座</option>
                    <option>處女座</option>
                    <option>天秤座</option>
                    <option>天蠍座</option>
                    <option>射手座</option>
                    <option>魔羯座</option>
                    <option>水瓶座</option>
                    <option>雙魚座</option>
                </select>
            </label>
            <label class="item item-select " id="page6-select8" name="year">
                <span class="input-label">年級</span>
                <select>
                    <option>白羊座</option>
                    <option>金牛座</option>
                    <option>雙子座</option>
                    <option>巨蟹座</option>
                    <option>獅子座</option>
                    <option>處女座</option>
                    <option>天秤座</option>
                    <option>天蠍座</option>
                    <option>射手座</option>
                    <option>魔羯座</option>
                    <option>水瓶座</option>
                    <option>雙魚座</option>
                </select>
            </label>
            <label class="item item-select " id="page6-select7" name="major">
                <span class="input-label">主修</span>
                <select>
                    <option>白羊座</option>
                    <option>金牛座</option>
                    <option>雙子座</option>
                    <option>巨蟹座</option>
                    <option>獅子座</option>
                    <option>處女座</option>
                    <option>天秤座</option>
                    <option>天蠍座</option>
                    <option>射手座</option>
                    <option>魔羯座</option>
                    <option>水瓶座</option>
                    <option>雙魚座</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 32px;"></div>
            <h3 id="page6-heading10" style="color:#000000;" class=" ">你的描述</h3>
            <label class="item item-select " id="page6-select10" name="appearance">
                <span class="input-label">外表</span>
                <select>
                    <option>不要太大期望</option>
                    <option>正常</option>
                </select>
            </label>
            <label class="item item-input " id="page6-textarea2" name="appearance2">
                <span class="input-label">外表描述</span><textarea placeholder=""></textarea>
            </label>
            <ion-checkbox name="興趣">藝術</ion-checkbox>
            <ion-checkbox name="興趣">唱K</ion-checkbox>
            <label class="item item-input " id="page6-textarea1" name="hobbies_detail">
                <span class="input-label">興趣詳述</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="page6-textarea3" name="characteristic">
                <span class="input-label">你的性格</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="page6-textarea4" name="lookfor_lesson">
                <span class="input-label">喜歡的課</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="page6-textarea5" name="lookfor_contries">
                <span class="input-label">喜歡的國家</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="page6-textarea7" name="characteristic">
                <span class="input-label">分享一個你的小秘密</span><textarea placeholder="littleSecret"></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 29px;"></div>
            <h3 id="page6-heading9" style="color:#000000;" class=" ">理想對象</h3>
            <label class="item item-input " id="page6-textarea6" name="lookfor_outlook">
                <span class="input-label">你的理想對象的外表</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="page6-textarea8" name="lookfor_characteristic">
                <span class="input-label">你的理想對象的性格和興趣</span><textarea placeholder=""></textarea>
            </label>
        </form>
    </ion-content>
</ion-view>