<ion-view title="相識(相遇)" hide-nav-bar="true" id="page13" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h1 id="page13-heading21" style="color:#000000;text-align:center;" class=" ">緣份揭曉</h1>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list id="page13-list9" class=" ">
            <ion-item id="page13-list-item21" class="  ">Item 1</ion-item>
            <ion-item id="page13-list-item22" class="  ">Item 2</ion-item>
            <ion-item id="page13-list-item23" class="  ">Item 3</ion-item>
        </ion-list>
        <button id="page13-button14" style="border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block icon ion-person-add ">做朋友</button>
        <button id="page13-button15" style="border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block button-outline icon ion-ios-people ">其他朋友</button>
    </ion-content>
</ion-view>