<ion-view title="相識(對話)" hide-nav-bar="true" id="page14" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <ion-list id="page14-list14" class=" ">
            <ion-item class="item-avatar  " id="page14-list-item32">
                <h2>Item</h2>
            </ion-item>
            <ion-item id="page14-list-item33" class="  ">Item</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 284px;"></div>
        <form id="page14-form12" class="list ">
            <label class="item item-input " id="page14-input13" name="message">
                <span class="input-label">message</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="page14-button18" class=" button button-positive  button-block ">發送</button>
    </ion-content>
</ion-view>