<ion-view title="天使不再秘密(報名)" hide-nav-bar="true" id="page2" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <h1 id="page2-heading3" style="color:#020202;text-align:center;" class=" ">參加</h1>
        <p id="page2-markdown2" style="color:#000000;text-align:center;" class=" ">逢星期一
            <strong>08:00</strong>－ 星期二
            <strong>23:59</strong>
        </p>
        <h3 id="page2-heading11" style="color:#000000;" class=" ">配對流程：</h3>
        <ion-list id="page2-list5" class=" ">
            <ion-item class="item-icon-right  " id="page2-list-item6">1: 睇下人地既CV
                <i class="icon ion-eye"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="page2-list-item7">2: 填寫自己Wish list
                <i class="icon ion-android-list"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="page2-list-item8">3: 等結果
                <i class="icon ion-android-time"></i>
            </ion-item>
        </ion-list>
        <p id="page2-markdown5" style="color:#000000;" class=" "></p>
        <h3 id="page2-heading12" style="color:#000000;" class=" ">現時男女比例：</h3>
        <form id="page2-form6" class="list ">
            <label class="item item-input " id="page2-input21">
                <input type="number" placeholder="">
            </label>
            <p id="page2-markdown6" style="color:#000000;" class=" ">為平衡男女人數 ，男女比例限制係
                <strong>1.5 : 1</strong>
            </p>
        </form>
        <button id="page2-button11" style="border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block icon ion-android-checkmark-circle ">參加</button>
    </ion-content>
</ion-view>