<ion-view title="相識(參加)" hide-nav-bar="true" id="page11" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h1 id="page11-heading17" style="color:#000000;text-align:center;" class=" ">參加</h1>
        <p id="page11-markdown9" style="color:#000000;text-align:center;" class=" ">每晚
            <strong>12:00</strong>開動緣份配對機</p>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="page11-button8" style="border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block button-outline icon ion-android-attach ">更改個人照片</button>
        <h3 id="page11-heading18" style="color:#000000;" class=" ">配對流程：</h3>
        <ion-list id="page11-list6" class=" ">
            <ion-item class="item-icon-right  " id="page11-list-item9">1: 當日最少登入過一次
                <i class="icon ion-log-in"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="page11-list-item10">2: 凌晨12點返黎
                <i class="icon ion-clock"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="page11-list-item11">3: 決定想唔想同對方做朋友
                <i class="icon ion-android-done"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="page11-list-item12">4: 雙方都決定做朋友就可以開始傾計
                <i class="icon ion-android-contacts"></i>
            </ion-item>
        </ion-list>
        <button id="page11-button9" style="border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block icon ion-android-checkmark-circle ">參加</button>
    </ion-content>
</ion-view>