<ion-view title="註冊成為 SkyLighter" hide-nav-bar="true" id="page8" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <h2 id="SkyLighter-heading24" style="color:#000000;text-align:center;" class=" ">註冊成為 SkyLighter</h2>
        <form id="SkyLighter-form3" class="list ">
            <ion-list id="SkyLighter-list2" class=" ">
                <label class="item item-select " id="SkyLighter-select1" name="university">
                    <span class="input-label">你的大學?</span>
                    <select>
                        <option>HKU</option>
                        <option>CUHK</option>
                        <option>HKUST</option>
                        <option>PolyU</option>
                        <option>CityU</option>
                        <option>EdUHK</option>
                        <option>HKBU</option>
                        <option>LingnanU</option>
                        <option>OUHK</option>
                        <option>HSMC</option>
                        <option>CHC</option>
                        <option>CIHE</option>
                        <option>TWC</option>
                        <option></option>
                    </select>
                </label>
                <label class="item item-input " id="SkyLighter-input3" name="university_email">
                    <span class="input-label">@hku.hk</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="SkyLighter-input4" name="login_email">
                    <input type="text" placeholder="登入電郵">
                </label>
            </ion-list>
            <label class="item item-select " id="SkyLighter-select3" name="gender">
                <span class="input-label">性別</span>
                <select>
                    <option>男生</option>
                    <option>女生</option>
                </select>
            </label>
            <label class="item item-select " id="SkyLighter-select2" name="major">
                <span class="input-label">主修</span>
                <select>
                    <option>Law</option>
                    <option>Computer Science</option>
                </select>
            </label>
            <a ui-sref="page7" id="SkyLighter-button4" style="border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block icon ion-compose ">註冊</a>
        </form>
        <h id="SkyLighter-heading8" style="color:#000000;font-weight:300;" class=" ">已經成為SkyLighter?</h>
        <button id="SkyLighter-button6" style="border-radius:30px 30px 30px 30px;" class=" button button-positive  button-block button-outline icon ion-log-in ">登入</button>
    </ion-content>
</ion-view>